<div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <form [formGroup]="Comm" (ngSubmit)="onSubmit()" >
                    <p class="add">Dodaj komentarz</p>
                    <div class="name" [ngClass]="{'has-error':!Comm.controls['nick'].valid && Comm.controls['nick'].touched}">
                        <p class="nick">Podaj swój nick: </p>
                        <input type="text" class="name-inp" formControlName="nick" >
                    </div>
                    <div class="comment" [ngClass]="{'has-error':!Comm.controls['text'].valid && Comm.controls['text'].touched}">
                        <p class="comm">Komentarz: </p>
                        <textarea class="comm2" formControlName="text" ></textarea>
                    </div>
                    <div class="btn">
                        <button type="submit" class="btn-1" [ngClass]="{ disabled: !Comm.valid }" 
                        >Skomentuj</button>
                    </div>
                </form>
            </div>
        </div>  
</div>
<app-comment *ngFor="let ii of uu" [ii]="ii" ></app-comment>


