/* Sekcja dodaj komentarz */
.name
{
    display: flex;
    flex-direction: column;
}
.comment textarea
{
    width: 100%;
    height: 150px;
}
.btn
{
    display: flex;
    justify-content: flex-end;
    
}
.btn .btn-1
{
    width: 120px;
    height: 45px;
    background: #A1C855;
    border: 1px solid #fff;
}
